<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Webpack App</title>
  </head>
  <body>
    <div id="root">
      <% if (typeof content !== 'undefined') { %>
        <%- content %>
      <% } %>
    </div>
    <% if (typeof scriptSrc !== 'undefined') { %>
      <script src="<%- scriptSrc %>"></script>
    <% } %>
  </body>
</html>
